

@media screen and (max-width: 768px) {
    .notes {
        flex-direction: column;
    }
    .grid6 {
        grid-template-columns: 1fr .1fr 1fr;
    }
    /* .noshow {
      display: none;
    } */
    .mrow {
        grid-column: span 3;
    }
    .carrow {
        transform: rotate(90deg);
        margin: 1rem 0;
    }
    .botcard {
        flex-direction: column;
        /* align-items: center; */
        /* width: 100%; */
    }
    .vertical {
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
    }
    .card-head {
        border-radius: 15px 15px 0 0;
        /* min-height: 0px; */
    }
    .card-body {
        border-radius: 0 0 15px 15px;
    }
    
}