
:root {
  --green: #F9FBFA;
  --greenTranslucent: rgba(234, 245, 241, .5);
  --greenTranslucent2: rgba(68, 182, 149, .5);
  --darkGreen: #44B695;
  --primary: #44B695;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.1rem;
  /* color: rgba(12, 12, 12, 0.2); */
  color: dimgray;
  font-weight: 100;

  margin: 210px 0;
}

div {
  width: 100%;
  height: 100%;
  /* display: inline-block; */

  /* padding: 1rem; */
}

.logo {
  height: 100px;
}
.container {
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

.flex--column {
  flex-direction: column;
}

.flex--end {
  align-items: flex-end;
}

.f15 {
  flex: 1.5;
}

.f05 {
  flex: .3;
}

.f1 {
  flex: 1;
}

.f2 {
  flex: 2;
}

.light-green {
  background-color: var(--green);
}

.lg {
  font-size: 3rem;
}

.md {
  font-size: 1.6rem;
}

.sm {
  font-size: .9rem;
}

.bold {
  font-weight: bold;
  /* color: var(--darkGreen); */
  /* text-transform: uppercase; */
}

.green-bg-dark {
  background-color: #EAF5F1;
}

.grey-bg-dark {
  background-color: #EAEAEA;
}

.green-bg-light {
  background-color: #F9FBFA;
}

.green-bg {
  background-color: var(--greenTranslucent);
}

.grey-bg {
  background-color: #F5F5F5;
}

.darkGreen-bg {
  background-color: var(--greenTranslucent);
}

.p1 {
  padding: 1rem;
}

.p2 {
  padding: 2rem;
}

.green {
  color: var(--primary);
}

.center {
  text-align: center;
}

.round {
  border-radius: 20px;
}

.my1 {
  margin: 1rem 0;
}

.my2 {
  margin: 2rem 0;
}

.border {
  border: 3px solid var(--primary);
  border-radius: 20px;
}
.right {
  float: right;
}
.grid *,
.grid {
  display: grid;
  place-items: center;
}

.grid5 {
  grid-template-columns: 10fr 2.4fr 10fr 1.2fr 10fr;
  /* grid-template-columns: 1fr 1fr 2px 1fr; */
}

.grid4 {
  grid-template-columns: 10fr 10fr 1.2fr 10fr;
  /* grid-template-columns: 1fr 1fr 2px 1fr; */
}

.super::after {
  content: "\00B2";

  /* content: "some content";
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; */
}

.arrow {
  width: 4rem;
  height: auto;

  background-color: red;
  display: block;
}

.snake,
.ball {
  width: 10rem;
  height: auto;
}

.cards > * {
  /* min-height: 650px; */
  /* height: 650px; */
}

.cards {
  gap: 1rem;
}

.high {
  height: 100%;
}




