:root {
    --primary: #CD0A2A;
    --blue1: #4580C2;
    --blue1Trans: rgba(69, 128, 194, .14);
    --blue2: #00B5BC;
    --blue2Trans: rgba(0, 181, 188, .1);
    --orange: #F26923;
    --orangeTrans: rgba(242, 105, 35, .14);
    --blue3: #445490;
    --blue3Trans: rgb(68, 84, 144, .2);
    --grey: #ECECEC;
    --green: #2C9A73;
    --lightGreen: #46B393;
    --darkGrey: #7E7E7E;

    --arrowColor: #59585A;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 0; */
  }
  
  body {
    font-size: 1.1rem;
    /* color: rgba(12, 12, 12, 0.2); */
    color: dimgray;
    /* font-weight: 100; */
  
    margin: 210px 0;
  }
  small {
    display: block;
    font-size: .5rem;
  }
  div {
    /* width: 100%; */
    /* height: 100%; */


    /* display: inline-block; */
  
    /* padding: 1rem; */
  }
  
.container {
    width: 90%;
    margin: 0 auto;
  }
  .center {
    text-align: center;
  }
  .flex {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
  }
  
  .flex--column {
    flex-direction: column;
  }
  
  .flex--start {
    align-items: flex-start;
  }
  
  .flex--end {
    align-items: flex-end;
  }
  
.red {
    color: var(--primary);
}
  
.blue {
    color: var(--blue1);
}
  
.green {
    color: var(--lightGreen);
}
  
.white {
    color: white;
}
  
.white-bg {
    background-color: white;
}
  
.red-bg {
    background-color: var(--primary);
}
  
.blue1-bg {
    background-color: var(--blue1);
}
  
.blue2-bg {
    background-color: var(--blue2);
}
  
.orange {
    color: var(--orange);
}
  
.orange-bg {
    background-color: var(--orange);
}
  
.blue3-bg {
    background-color: var(--blue3);
}
  
.grey-bg {
    background-color: var(--grey);
}
  
.green-bg {
    background-color: var(--green);
}
  
.blueTrans-bg {
    background-color: var(--blue1Trans);
}
  
.cyan {
    color: var(--blue2);
}
  
.darkBlue {
    color: var(--blue3);
}
  
.cyan-bg {
    background-color: var(--blue2);
}
  
.cyanTrans-bg {
    background-color: var(--blue2Trans);
}
  
.darkBlue-bg {
    background-color: var(--blue3);
}
  
.darkBlueTrans-bg {
    background-color: var(--blue3Trans);
}
  
.orangeTrans-bg {
    background-color: var(--orangeTrans);
}
  
  
.lightGreen-bg {
    background-color: var(--lightGreen);
}
  
.darkGrey-bg {
    background-color: var(--darkGrey);
}
.thborder--black {
    border: 3px solid dimgray;
}
.thborder--red {
    border: 3px solid var(--primary);
}


.border--black {
    border: 1px solid dimgray;
}
.border--red {
    border: 1px solid var(--primary);
}
.border--darkBlue {
    border: 1px solid var(--blue3);
}
.border--blue {
    border: 1px solid var(--blue1);
}
.bb--blue {
    border-bottom: 1px solid var(--blue1);
}
.border--cyan {
    border: 1px solid var(--blue2);
}
.bb--cyan {
  border-bottom: 1px solid var(--blue2);
}
.border--orange {
    border: 1px solid var(--orange);
}
.bb--orange {
  border-bottom: 1px solid var(--orange);
}
.bb--darkBlue {
  border-bottom: 1px solid var(--blue3);
}
.rounded {
    border-radius: 15px;
}

.f1 {
    flex: 1;
  }
  
  .f2 {
    flex: 2;
  }
  
  .xl {
    font-size: 2rem;
  }
  
  .lg {
    font-size: 1.6rem;
  }
  
  .md {
    font-size: 1.4rem;
  }
  
  .sm {
    font-size: .9rem;
  }
  
  .xs {
    font-size: .7rem;
  }
  
  .bold {
    font-weight: bold;
    /* color: var(--darkGreen); */
    /* text-transform: uppercase; */
  }
  
  .p05 {
    padding: .5rem;
  }
  
  
  .p1 {
    padding: 1rem;
  }
  
  .p2 {
    padding: 2rem;
  }
  .grid3 > * {
    padding: 1rem;
  }
  .grid3 {
    display: grid;
    grid-template-columns: .5fr .1fr 5fr;
    /* grid-template-columns: 3fr 1fr 6fr; */
    /* grid-template-columns: repeat(5, 1fr); */
  }
  .grid6 {
      display: grid;
      grid-template-columns: .5fr .1fr 1fr .5fr .1fr 1fr;
  }
  .grid {
    display: grid;
    gap: 1rem;
  }
  /* .grid5 > * {
    display: flex;
  } */
  .grid5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    position: relative;
    /* grid-template-rows: repeat(10, 50px); */
  }
  .g1 {
    grid-column: span 1;
  }
  .g2 {
    grid-column: span 2;
  }
  .g3 {
    grid-column: span 3;
  }
  .g4 {
    grid-column: span 4;
  }
  .g5 {
    grid-column: span 5;
  }

  .gy05 {
    grid-row: span .5;
  }

  .gy1 {
    grid-row: span 1;
  }
  .gy2 {
    grid-row: span 2;
  }
  .gy3 {
    grid-row: span 3;
  }
  .gy4 {
    grid-row: span 4;
  }
  .gy5 {
    grid-row: span 5;
  }
  
  .my01 {
    margin: 0 0 1rem 0;
  }
  
  .my1 {
    margin: 1rem 0;
  }
  
  .my2 {
    margin: 2rem 0;
  }
  .vertical {
    writing-mode:vertical-rl;
    transform: rotate(-180deg);
  }
  .card-head {
    /* border-radius: 15px 0 0 15px; */
    border-radius: 0 15px 15px 0;
    /* min-height: 365px; */
  }
  .card-body {
    /* border-radius: 15px 0 0 15px; */
    border-radius: 0 15px 15px 0;
    min-height: 365px;
    /* overflow: visible; */
  }
  .arrow {
    width: 3rem;
    height: auto;
  
    background-color: red;
    display: block;
  }
  .notes {
  gap: 1.5rem;
  /* overflow-x: auto; */
  /* display: inline-block; */
  display: flex;
  }
.note {
  /* float: left; */
  /* max-width: 360px; */


  min-width: 360px;
}
  .blue_note {
    width: 5rem;
    height: auto;
  }
/* .new-arrow {
  filter: invert(1);
} */
/* .huerotate {
  filter: hue-rotate(90deg);
} */
/* .hueCyan {
  filter: hue-rotate(-35deg);
  -webkit-filter: hue-rotate(-35deg);
} */
/* .hueOrange {
  filter: hue-rotate(165deg);

} */
/* .hueDarkBlue {
  filter: hue-rotate(25deg);
  -webkit-filter: hue-rotate(25deg);
} */
.roundt {
  border-radius: 15px 15px 0 0;
}
.roundtr {
  border-radius: 0 15px 0 0;
}

.roundtl {
  border-radius: 15px 0 0 0;
}

.roundbr {
  border-radius: 0 0 15px 0;
}

.roundbl {
  border-radius: 0 0 0 15px;
}


.trans {
  opacity: .2;
}

.botcard {
  align-items: stretch;
}
.black_arrow {
  height: 3rem;
  /* width: .6rem; */
}
.barrow {
  /* background-color: red; */
  height: 1rem;
}
.black_arrowLong {
  height: 6rem;
  width: 1rem;
}
.barrowLong {
  height: 6rem;
}
.sarrow {
  /* background-color: red; */
  margin: -1rem -.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* height: 5rem; */
  transform: rotate(180deg);
  border-top: .15rem solid var(--arrowColor);  
  border-left: .15rem solid var(--arrowColor);
}
.sarrow .black_arrow {
  height: 1.5rem;
  height: 2rem;
  /* margin: -20px; */
  /* margin: -1rem; */
  margin: 1rem;
  transform: rotate(180deg);
}
.mtop05 {
  margin-top: 1rem;
}
/* .net {
  margin: -2rem -.5rem;
  margin: -2rem .5rem 0 -.5rem;


  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transform: rotate(180deg);
  border-top: .15rem solid var(--arrowColor);  
  border-left: .15rem solid var(--arrowColor);
} */
.net1 {
  margin: -2rem -.5rem 0 7.8rem;
  border-bottom: .15rem solid var(--arrowColor);  
  border-right: .15rem solid var(--arrowColor);
}
.net2 {
  margin: -2rem 7.8rem 0 -.5rem;
  border-bottom: .15rem solid var(--arrowColor);  
}
.snet1::before {
  content: '';
  width: 50%;
  width: 8.3rem;
  height: 50%;
  position: absolute;
  /* top: 50%; */
  top: -50%;
  /* right: 50%; */
  right: 0;
  /* border-top: 1px solid yellow; */
  background-color: white;
  /* background-color: blue; */
}
.snet1 {
  /* background-color: red; */
  margin: -1rem -.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* height: 5rem; */
  transform: rotate(180deg);
  border-top: .15rem solid var(--arrowColor);  
  border-left: .15rem solid var(--arrowColor);
}
.snet1 .black_arrow {
  height: 1.5rem;
  height: 2rem;
  /* margin: -20px; */
  /* margin: -1rem; */
  margin: 1rem;
  transform: rotate(180deg);
}
.snet2::after {
  content: '';
  width: 50%;
  width: 8.055rem;
  height: 50%;
  position: absolute;
  /* top: 50%; */
  top: -50%;
  /* right: 50%; */
  left: 0;
  /* border-top: 1px solid yellow; */
  background-color: white;
  /* background-color: blue; */
  /* z-index: 10; */
}
.snet2 {
  /* background-color: red; */
  margin: -1rem -.5rem;
  margin: -1rem 0 -1rem -.5rem;
  
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  /* justify-content: flex-end; */
  justify-content: center;
  /* align-items: center; */
  align-items: flex-end;

  /* height: 5rem; */
  transform: rotate(180deg);
  border-top: .15rem solid var(--arrowColor);  
  /* width: 50%; */
  /* border-left: .15rem solid var(--arrowColor); */
  position: relative;
}
.snet2 .black_arrow {
  height: 1.5rem;
  height: 2rem;
  /* margin: -20px; */
  /* margin: -1rem; */

  margin: 1rem 5rem;

  transform: rotate(180deg);
}








.line2 {
  /* background-color: red; */
  border-right: .236rem solid var(--arrowColor);;
  /* height: 1rem; */
  /* height: 100%; */
  width: 8rem;
  margin-top: -1rem;
}
/* .line {
  width: .236rem;
  height: 1rem;
  height: 100%;
  background-color: var(--arrowColor);
  display: flex;
  justify-content: center;
  align-items: center;
} */
.line {
  width: 100%;
  height: 100%;
  height: 9.1rem;
  margin: -2rem 0;
  /* background-color: lightgreen; */
  position: relative;
}
.lineInner {
  width: .237rem;
  height: 1rem;
  height: 100%;
  background-color: var(--arrowColor);
  z-index: 10;
}
.line3 {
  width: 100%;
  height: 100%;
  background-color: cyan;
  position: relative;
  /* z-index: 100; */
  margin: -3rem 0;
}
.lineInner3 {
  width: .236rem;
  height: 1rem;
  height: 100%;
  background-color: var(--arrowColor);
  z-index: 10;
}
