






@media screen and (max-width: 768px) {
    .cards {
      flex-direction: column;
    }
    .grid4,
    .grid5 {
        grid-template-columns: 1fr .1fr 1fr;
    }
    .cards {
      flex-direction: column;
    }
    .blank,
    .arroww {
      display: none;
    }
    .heading {
      grid-column: span 3;
    }
  }

/* @media screen and (max-width: 500px) {
    .grid5 {
        grid-template-columns: 1fr .1fr 1fr;
    }
    .cards {
      flex-direction: column;
    }
  } */